html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}


.PageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  padding-top: 3vh;
}


.headerContainer {
  flex: 0 0 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  border: 3px solid black;
  width: 50vw;
  height: 8vh;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 5px; 
}


.SearchInput {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  font-size: 30px;
}



.mainContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  padding: 10px 20px;
  overflow: hidden;
  background-color: transparent;
}

.LeftAddContainer, .RightRecommendContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  max-width: 280px;
  height: 90%;
  box-sizing: border-box;
  background-color: transparent;
}


.AddSongs, .RecommendSongs {
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  flex: 1;
  overflow-y: auto;
  border-radius: 70px;
  box-sizing: border-box;
  background-color: transparent;
}


.ChartContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 40vw;
  max-width: 700px;
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
}

.Chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}

.ChartContainer:active,
.Chart:active {
  outline: none;
  box-shadow: none;
}
.ChartContainer:focus,
.ChartContainer:focus-visible,
.Chart:focus,
.Chart:focus-visible {
  outline: none;
  box-shadow: none;
}




.AddSongs::-webkit-scrollbar, .RecommendSongs::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.AddSongs::-webkit-scrollbar-thumb, .RecommendSongs::-webkit-scrollbar-thumb {
  background: transparent;
}

.AddSongs::-webkit-scrollbar-corner,
.RecommendSongs::-webkit-scrollbar-corner {
  background-color: transparent;
}

.recharts-wrapper *:focus,
.recharts-wrapper *:focus-visible,
.radar-chart *:focus,
.radar-chart *:focus-visible,
.ChartContainer *,
.Chart * {
  outline: none !important;
  box-shadow: none !important;
}



.toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: transparent;
  padding: 20px 0;
  z-index: 100;
}

.BFS, .DFS {
  flex: 0 0 100px;
  padding: 10px 0;
  border: 3px solid black;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.BFS.active, .DFS.active {
  background-color: black;
  color: white;
}


.SuggestionsDropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: #242424;
  border: 1px solid #ddd;
  border-radius: 8px;
  list-style: none;
  padding: 0px 0;
  margin: 0;
  margin-top: 50px;
  max-height: 90px;
  overflow-y: auto;
  z-index: 10;
  box-sizing: border-box;
  overscroll-behavior: contain;
}


.SuggestionsDropdown li {
  padding: 8px 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.SuggestionsDropdown li:hover {
  background-color: #605d90;
  width: 100%;
}

.SuggestionsDropdown::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.SuggestionsDropdown::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 100px;
}

.SuggestionsDropdown::-webkit-scrollbar-corner {
  background-color: transparent;
}


.ErrorPopup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.ErrorIcon {
  width: 200px;
  height: 200px;

}

.CloseBtn {
  display: none;
}

